* {
  margin: 0;
  padding: 0;

}
div {
  color: white;
}
body {
  background: url(./assests/ManjuTheDestroyerOfWorlds.jpg) ;
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  
}
.page-body {
  margin: 3rem;
  text-align: center;
}
.footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
}
.header-nav {
  background-color: #4e118e;
  justify-content: space-between;
  display: flex;
}
.nav-link {
  color: #FF0080 !important;
  margin-bottom: 10px;
}
.nav-link:hover {
  color: #000 !important;
}
.nav-item {
  align-self: flex-end;
}
.show {
  color: white;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

}
.index {
  text-align: center;
}
footer {
  text-align: center;
  padding-top: 50px;
}
